@font-face {
  font-family: Brandon Text;
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/brandontext-light.woff2) format("woff2")
}

@font-face {
  font-family: Brandon Text;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/brandontext-regular.woff2) format("woff2")
}

@font-face {
  font-family: Brandon Text;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/brandontext-medium.woff2) format("woff2")
}

@font-face {
  font-family: Brandon Text;
  font-style: bold;
  font-weight: 700;
  src: url(/fonts/brandontext-bold.woff2) format("woff2")
}

* {
  font-family: Brandon Text,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
