<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matt Gray</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  </head>
  <body>
    <main class="bg-green-900">
      {{ content | safe }}
    </main>
    <footer></footer>
  </body>
</html>
